		<script>	
/*
			function reload(){
				$("#container").load("#table1");
			}
*/			
			
			
			

			
					
			function listeningMovement(x,y){
				$(x).on("click", function(e){
					$.ajax({
						url:"/doMovementOnline",
						data: {	player1:{{user1}},
								player2:{{user2}},
								turnUser:{{turnUser}},
								game:{{gameId}},
								channel:"{{channel}}",
								col: y},
						method:"POST"
					}).done(function(data){
						console.log(data);
						socket.emit('{{channel}}',data);
						
						
					});
					e.defaultPrevented;
					return false;
				});		
			}

			$("document").ready(function(){
				listeningMovement("#1col","0");
				listeningMovement("#2col","1");
				listeningMovement("#3col","2");
				listeningMovement("#4col","3");
				listeningMovement("#5col","4");
				listeningMovement("#6col","5");
				listeningMovement("#7col","6");
			});


		</script>

<style>
	.p0{
	font-size: 25px;

	border: 2px solid #000000;
	border-radius: 60px;
	width: 90px;
	height: 90px; background-color: #FFFFFF;
	}
</style> 
<style>
	.p1{
	font-size: 25px;

	border: 2px solid #000000;
	border-radius: 60px;
	width: 90px;
	height: 90px; background-color: #F7FE2E;
	}
</style> 
<style>
	.p2{
	font-size: 25px;

	border: 2px solid #000000;
	border-radius: 60px;
	width: 90px;
	height: 90px; background-color:#FF0000;
	}
</style> 

<h4 align="center" type="text" style="Position:Absolute; left: 12%; top: 13%"> Turn player: {{turnUserEmail}} </h4>
<table width="650px" height="575px"  border="1" cellspacing="2" cellpadding="2" bgcolor="#0000FF" align="center" id="table1" >
	
	
		<tr>
		 	<td><input align="center" type="submit" value="Put here!" id="1col" {{{stateButton0}}}></td>
		 	<td><input align="center" type="submit" value="Put here!" id="2col" {{{stateButton1}}}></td>
		 	<td><input align="center" type="submit" value="Put here!" id="3col" {{{stateButton2}}}></td>
		 	<td><input align="center" type="submit" value="Put here!" id="4col" {{{stateButton3}}}></td>
		 	<td><input align="center" type="submit" value="Put here!" id="5col" {{{stateButton4}}}></td>
		 	<td><input align="center" type="submit" value="Put here!" id="6col" {{{stateButton5}}}></td>
		 	<td><input align="center" type="submit" value="Put here!" id="7col" {{{stateButton6}}}></td>

	 	</tr>
	 
		{{#board}}
			{{{toString}}}
		{{/board}}
</table>

