<style>
	.p0{
	font-size: 25px;

	border: 2px solid #000000;
	border-radius: 50px;
	width: 70px;
	height: 70px; background-color: #FFFFFF;
	}
</style> 
<style>
	.p1{
	font-size: 25px;

	border: 2px solid #000000;
	border-radius: 50px;
	width: 70px;
	height: 70px; background-color: #F7FE2E;
	}
</style> 
<style>
	.p2{
	font-size: 25px;

	border: 2px solid #000000;
	border-radius: 50px;
	width: 70px;
	height: 70px; background-color:#FF0000;
	}
</style> 

<table width="520px" height="440px"  border="1" cellspacing="2" cellpadding="2" bgcolor="#0000FF" align="center" id="table1" >
	<tr>
	 	<form action="/doMovement" method="POST" id="form1" align="center">
	 		<input type="hidden" value={{user1}} name="player1" >
	 		<input type="hidden" value={{user2}} name="player2" >
	 		<input type="hidden" value={{turnUser}} name="turnUser" >
	 		<input type="hidden" value={{gameId}} name="game">
	 		<input type="hidden" value="0"        name="col">
	 		<input align="center" type="submit" value="Put here!" id="1col" {{{stateButton0}}}>
	 	</form>
	 	<form action="/doMovement" method="POST" id="form2" align="center">
	 		<input type="hidden" value={{user1}} name="player1" >
	 		<input type="hidden" value={{user2}} name="player2" >
	 		<input type="hidden" value={{turnUser}} name="turnUser" >
	 		<input type="hidden" value={{gameId}} name="game">
	 		<input type="hidden" value="1"        name="col">
	 		<input align="center" type="submit" value="Put here!" id="2col" {{{stateButton1}}}>
	 	</form>
	 	<form action="/doMovement" method="POST" id="form3" align="center">
	 		<input type="hidden" value={{user1}} name="player1" >
	 		<input type="hidden" value={{user2}} name="player2" >
	 		<input type="hidden" value={{turnUser}} name="turnUser" >
	 		<input type="hidden" value={{gameId}} name="game">
	 		<input type="hidden" value="2"        name="col">
	 		<input align="center" type="submit" value="Put here!" id="3col" {{{stateButton2}}}>
	 	</form>
	 	<form action="/doMovement" method="POST" id="form4" align="center"> 
	 		<input type="hidden" value={{user1}} name="player1" >
	 		<input type="hidden" value={{user2}} name="player2" >
	 		<input type="hidden" value={{turnUser}} name="turnUser" >
	 		<input type="hidden" value={{gameId}} name="game">
	 		<input type="hidden" value="3"        name="col">
	 		<input align="center" type="submit" value="Put here!" id="4col"  {{{stateButton3}}}>
	 	</form>
	 	<form action="/doMovement" method="POST" id="form5" align="center">
	 		<input type="hidden" value={{user1}} name="player1" >
	 		<input type="hidden" value={{user2}} name="player2" >
	 		<input type="hidden" value={{turnUser}} name="turnUser" >
	 		<input type="hidden" value={{gameId}} name="game">
	 		<input type="hidden" value="4"        name="col">
	 		<input align="center" type="submit" value="Put here!" id="5col" {{{stateButton4}}}>
	 	</form>
	 	<form action="/doMovement" method="POST" id="form6" align="center">
	 		<input type="hidden" value={{user1}} name="player1" >
	 		<input type="hidden" value={{user2}} name="player2" >
	 		<input type="hidden" value={{turnUser}} name="turnUser" >
	 		<input type="hidden" value={{gameId}} name="game">
	 		<input type="hidden" value="5"        name="col">
	 		<input align="center" type="submit" value="Put here!" id="6col" {{{stateButton5}}}>
	 	</form>
	 	<form action="/doMovement" method="POST" id="form7" align="center">
	 		<input type="hidden" value={{user1}} name="player1" >
	 		<input type="hidden" value={{user2}} name="player2" >
	 		<input type="hidden" value={{turnUser}} name="turnUser" >
	 		<input type="hidden" value={{gameId}} name="game">
	 		<input type="hidden" value="6"        name="col">
	 		<input align="center" type="submit" value="Put here!" id="7col" {{{stateButton6}}}>
	 	</form>
 	</tr>
		{{#board}}
			{{{toString}}}
		{{/board}}
</table>

