<html>
	{{> jqueryconfig}}
	<h1 align="center">Esperando subscriptor...</h1>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
	 var socket = io.connect('192.168.1.112:3000');
	 socket.on('suscriber',function(msg){
		      	if (msg=={{channel}}){
		      		socket.emit('suscriber',{{channel}});
		      		$.ajax({
						url:"/",
						data: {},
						method:"GET"
					}).done(function(data){
						console.log(data);
						$('html').html(data);
						
					});
		      		//channel -> "OnPlay"
		      	}
		      });
	 </script>

	<body background="background.jpg" text="#FFFFFF">

		
		</form>
	</body>
</html>