<html>
	{{> jqueryconfig}}
	<h1 align="center">Especting subscriber...</h1>

	 <form id="toPlay" action="/playOnline" method="POST">
	 	<input type="hidden" value={{game}} name="game">
	 	<input type="hidden" value={{channel}} name="channel">
	 </form>
	<body background="background.jpg" text="#FFFFFF">

	 <script type="text/javascript">
	 var ip_address='{{ip}}:3000';
	 var socket = io.connect(ip_address);
	 socket.emit('addUser',"{{user}}")
	 var channel= {{channel}};
	 socket.on('waitingSuscriber',function(msg){
		      	if (msg=={{channel}}){
		      		socket.emit('suscriber',channel.toString()+':'+'OKEY');
		      		document.forms['toPlay'].submit();
		      	}
		      });
	 </script>

	</body>
</html>