<html>
	<head>
		<title></title>
	</head>
	<body style="background-attachment:fixed;" background="background.jpg" text="#FFFFFF">
		
		<h1 align="center">{{text}}{{user}}</h1>

		<form action="/play" method="POST">
			<input type="submit" style="Position:Absolute; left: 47%; top: 65%" value="Revenge">
		</form>
		<form action="/finishedgame" method="GET">
			<input type="submit" style="Position:Absolute; left: 48%; top: 70%" value="Exit">
		</form>
</body>
</html>