<html>
	<head>
		<title>Welcome to Connect 4!</title>

		<style>
			.tim{
			font-size: 15px;
			text-decoration: #FFFFFF;
			border: 2px solid #AD235E;
			border-radius: 50px;
			width: 100px;
			height: 100px; background-color: #FF0000;
			}
		</style> 
		
			<style>
			.tim1{
			font-size: 15px;

			border: 2px solid #AD235E;
			border-radius: 50px;
			width: 100px;
			height: 100px; background-color: #F7FE2E;
			}
		</style> 

			<style>
			.tim2{
			font-size: 15px;

			border: 2px solid #AD235E;
			border-radius: 50px;
			width: 100px;
			height: 100px; background-color: #FF0000;
);
			}
		</style> 
	</head>
	<body style="background-attachment:fixed;" background="background.jpg" text="#FFFFFF" >
		<p align="center">
			<font  size=20> Welcome to Connect 4! Play now!</font>
			
				<form action="/signin" method="POST">
					<input type=hidden value={{{nameButton}}}>
					<input type="submit" style="Position:Absolute; left: 83%; top: 5%" value={{{nameButton}}}  name="signin"  >
				</form>

				<form action="/signup" method="POST">

						<input type="submit" style="Position:Absolute; left: 90%; top: 5%" value="Sign Up" name="signup"  {{{stateSignUp}}}>
				</form>
			
		</p>

		<h2 align="center"> The most popular connect 4 of the world</h2>
		
		<h3 align="center">{{currentUser}}</h3>
		<br>
		
		<form action="/selectOpponent" method="POST">
			<input type=hidden value={{currentUser}} name="player1" >
			<p align="center" >
				<input type="submit" value="New Game" name="newgame" class="tim">
			</p>	
		</form>	
		<form action="/selectSavedGame" method="POST">
			<input type=hidden value={{currentUser}} name="player1" >
			<p align="center" >
				<input type="submit" value="Resume Game" name="resumegame" class="tim1">
			</p>	
		</form>	
	
		<form action="/ranking" method="POST">
		<p align="center">
			<input type="submit" value="Ranking"  name="rank" class="tim2">
			</p>
		</form>

	</body>
</html>