<html>
	{{> jqueryconfig}}
	<body style="background-attachment:fixed;" background="background.jpg" text="#FFFFFF">
		
		<h1 align="center">Your opponent loose connection. You're the winner.</h1>
		<form action="/finishedgame" method="GET">
			<input type="submit" style="Position:Absolute; left: 48%; top: 70%" value="Exit">
		</form>
</body>
</html>