<html>
	<head>
		<!--INSTALANDO JQUERY-->  

		<!-- script src="jquery-2.1.4.js"></script -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<script>	
		$("document").ready(function(){
			console.log($("#1col"));

			$("#1col").on("click", function(e){
				$.ajax({
					url:"/doMovement",
					data: {player1:{{user1}},player2:{{user2}},turnUser:{{turnUser}},game:{{gameId}},col: "0"},
					method:"POST"
				}).done(function(data){
					alert("hola");
				});
				e.defaultPrevented;
				return false;
			});
		});
		</script>


		<style>
			.p0{
			font-size: 25px;

			border: 2px solid #000000;
			border-radius: 50px;
			width: 70px;
			height: 70px; background-color: #FFFFFF;
			}
		</style> 
		<style>
			.p1{
			font-size: 25px;

			border: 2px solid #000000;
			border-radius: 50px;
			width: 70px;
			height: 70px; background-color: #F7FE2E;
			}
		</style> 
		<style>
			.p2{
			font-size: 25px;

			border: 2px solid #000000;
			border-radius: 50px;
			width: 70px;
			height: 70px; background-color:#FF0000;
			}
		</style> 

	<body 
	
		background="background.jpg" text="#FFFFFF" >

	  <h1 align="center">Connect 4 - Smart-team</h1>
	  <h3 align="center">Playing</h3>
	  <h4 align="center" type="text" style="Position:Absolute; left: 12%; top: 13%"> Turn player: {{turnUserEmail}} </h4>
	  <p align="center">
		<table width="520px" height="440px"  border="1" cellspacing="2" cellpadding="2" bgcolor="#0000FF" >
	 		<tr align="center">
		 		<form action="/doMovement" method="POST" id="form1">
		 			<input type="hidden" value={{user1}} name="player1" >
		 			<input type="hidden" value={{user2}} name="player2" >
		 			<input type="hidden" value={{turnUser}} name="turnUser" >
		 			<input type="hidden" value={{gameId}} name="game">
		 			<input type="hidden" value="0"        name="col">
		 			<input type="submit" value="Put here!" id="1col" {{{stateButton0}}}>
		 		</form>
		 		<form action="/doMovement" method="POST" id="form2">
		 			<input type="hidden" value={{user1}} name="player1" >
		 			<input type="hidden" value={{user2}} name="player2" >
		 			<input type="hidden" value={{turnUser}} name="turnUser" >
		 			<input type="hidden" value={{gameId}} name="game">
		 			<input type="hidden" value="1"        name="col">
		 			<input type="submit" value="Put here!" name="2col" {{{stateButton1}}}>
		 		</form>
		 		<form action="/doMovement" method="POST" id="form3">
		 			<input type="hidden" value={{user1}} name="player1" >
		 			<input type="hidden" value={{user2}} name="player2" >
		 			<input type="hidden" value={{turnUser}} name="turnUser" >
		 			<input type="hidden" value={{gameId}} name="game">
		 			<input type="hidden" value="2"        name="col">
		 			<input type="submit" value="Put here!" name="3col" {{{stateButton2}}}>
		 		</form>
		 		<form action="/doMovement" method="POST" id="form4"> 
		 			<input type="hidden" value={{user1}} name="player1" >
		 			<input type="hidden" value={{user2}} name="player2" >
		 			<input type="hidden" value={{turnUser}} name="turnUser" >
		 			<input type="hidden" value={{gameId}} name="game">
		 			<input type="hidden" value="3"        name="col">
		 			<input type="submit" value="Put here!" name="4col"  {{{stateButton3}}}>
		 		</form>
		 		<form action="/doMovement" method="POST" id="form5">
		 			<input type="hidden" value={{user1}} name="player1" >
		 			<input type="hidden" value={{user2}} name="player2" >
		 			<input type="hidden" value={{turnUser}} name="turnUser" >
		 			<input type="hidden" value={{gameId}} name="game">
		 			<input type="hidden" value="4"        name="col">
		 			<input type="submit" value="Put here!" name="5col" {{{stateButton4}}}>
		 		</form>
		 		<form action="/doMovement" method="POST" id="form6">
		 			<input type="hidden" value={{user1}} name="player1" >
		 			<input type="hidden" value={{user2}} name="player2" >
		 			<input type="hidden" value={{turnUser}} name="turnUser" >
		 			<input type="hidden" value={{gameId}} name="game">
		 			<input type="hidden" value="5"        name="col">
		 			<input type="submit" value="Put here!" name="6col" {{{stateButton5}}}>
		 		</form>
		 		<form action="/doMovement" method="POST" id="form7">
		 			<input type="hidden" value={{user1}} name="player1" >
		 			<input type="hidden" value={{user2}} name="player2" >
		 			<input type="hidden" value={{turnUser}} name="turnUser" >
		 			<input type="hidden" value={{gameId}} name="game">
		 			<input type="hidden" value="6"        name="col">
		 			<input type="submit" value="Put here!" name="7col" {{{stateButton6}}}>
		 		</form>
		 	</tr>
	 		{{#board}}
	 			{{{toString}}}
	 		{{/board}}
	 	</table>

	 	<form action="/savegame" method="GET" >
	 		<input type="hidden" value={{gameId}} name="gameId">
	 		<input align="center" type="submit" style="Position:Absolute; left: 81%; top: 5%" value="Save game" name="save_game">
	 	</form>
	 	<form action="/abandonedGame" method="GET" >
	 		<input type="hidden" value={{user2}} name="player2">
	 		<input type="hidden" value={{gameId}} name="gameId">
	 		<input align="center" type="submit" style="Position:Absolute; left: 90%; top: 5%" value="Exit game" name="exit_game">
	 	</form>
		
	 		
	 	


	</body>
</html>