<html>
	
	{{> jqueryconfig}}
	<form action="/opponentDisconnect" id="disconnect" method="GET"></form>
	<script type="text/javascript">
		console.log("{{channel}}");
		 var ip_address='{{ip}}:3000';
		 var socket = io.connect(ip_address);
		 var chn="{{channel}}";
		 socket.emit('addUser',{{session}});
		
		 socket.on('killConnection',function(msg){
		 	alert(msg);
		 	alert(chn);
		 	if (chn==msg){
		 		console.log("ENTRO");
		 		socket.emit('{{channel}}',"killConnection");
		 		document.forms['disconnect'].submit();
		 	}
		 });
		 socket.on('{{channel}}',function(msg){
		 	if (msg=='killConnection'){
		 		socket.emit('{{channel}}',"killConnection");
		 		document.forms['disconnect'].submit();
		 	}else{
		 			var elem =msg.split('/(/(');
		 			var data=elem[1];
		 			var turnUser=elem[0];
		 			console.log(turnUser);
		 			console.log(data);
		 			console.log(msg);
		 			if ("{{session}}"==turnUser){
		 				var filter=msg.split('<!--M!-->');
		 				var table=filter[1];

		 				$("#container").html(table);
		 			}else{
		 				var botones="<tr>"+
		 	"<td><input align='"+"center"+"' type='"+"submit"+"' value='"+"Put here!"+"' id='"+"1col' disabled></td>"+
		 	"<td><input align='"+"center"+"' type='"+"submit"+"' value='"+"Put here!"+"' id='"+"2col' disabled></td>"+
		 	"<td><input align='"+"center"+"' type='"+"submit"+"' value='"+"Put here!"+"' id='"+"3col' disabled></td>"+
		 	"<td><input align='"+"center"+"' type='"+"submit"+"' value='"+"Put here!"+"' id='"+"4col' disabled></td>"+
		 	"<td><input align='"+"center"+"' type='"+"submit"+"' value='"+"Put here!"+"' id='"+"5col' disabled></td>"+
		 	"<td><input align='"+"center"+"' type='"+"submit"+"' value='"+"Put here!"+"' id='"+"6col' disabled></td>"+
		 	"<td><input align='"+"center"+"' type='"+"submit"+"' value='"+"Put here!"+"' id='"+"7col' disabled></td>"+"</tr>";
		 				var elem1= msg.split('<!--&&&&-->');
		 				var p1=elem1[0];
		 				var elem2=p1.split('<!--M!-->');
		 				var p11=elem2[1];
		 				var p2=elem1[2];
		 				console.log(p1);
		 				console.log(botones);
		 				console.log(p2);
		 				$("#container").html(p11+botones+p2);
		 			}

					
		 	}
		 	});
			
	</script>

	<body id="cuerpo1" background="background.jpg" text="#FFFFFF" >
		
		<h1 align="center">Connect 4 - Smart-team</h1>
	  	<h3 align="center">Playing</h3>
	  
	  	<div id="container" align="center">
	  		<h4 align="center" type="text" style="Position:Absolute; left: 12%; top: 13%"> Turn player: {{turnUserEmail}} </h4>
	   		{{> boardOnline}}
	  	</div>
	   

	 	<form action="/savegame" method="GET" >
	 		<input type="hidden" value={{gameId}} name="gameId">
	 		<input align="center" type="submit" style="Position:Absolute; left: 81%; top: 5%" value="Save game" name="save_game">
	 	</form>
	 	
	 	<form action="/abandonedGame" method="GET" >
	 		<input type="hidden" value={{user2}} name="player2">
	 		<input type="hidden" value={{gameId}} name="gameId">
	 		<input align="center" type="submit" style="Position:Absolute; left: 90%; top: 5%" value="Exit game" name="exit_game">
	 	</form>

	</body>
</html>