<!-- <html>
<HEAD>
	
</HEAD> 
<BODY>

	 <h2>Ranking : </h2>



  <table width="50%" border="1" cellspacing="10" cellpadding="10">
    {{#ranks}}
        <tr>
          <form action="/ranking" method="POST">
          <td width ="40%">
          		<input type=hidden value={{user1}} name="us">
          </td>
          <td width ="10%">
              <input type=hidden value={{toString2}} name="rank">
          </td>
          </form>
        </tr>
    {{/ranks}}
  </table>

	
  </BODY>

</html> -->