<html>
  
  {{> jqueryconfig}}
  
  <body style="background-attachment:fixed;" background="background.jpg" text="#FFFFFF">

    <h2 align="center">Ranking  </h2>
    <table bgcolor="#1C1C1C" align="center" width="50%" border="1" cellspacing="10" cellpadding="10">
 
        <tr>
          <td align="center" width="5%">Pos</td>
          <td align="center" width="40%">Name</td>
          <td align="center" width="5%">Win</td>
          <td align="center" width="5%">Tie</td>
          <td align="center" width="5%">Lose</td>
          <td align="center" width="40%">Score</td>
        </tr>
      {{#ranks}}
        <tr>
          <form action="/ranking" method="POST">
            <td align="center" bgcolor="#6E6E6E" width="5%">
              {{toStringPos}}
            </td>
            <td align="center" bgcolor="#6E6E6E" width="40%">
              {{toStringName}}
            </td>
            <td align="center" bgcolor="#6E6E6E" width="5%">
              {{toStringWin}}
            </td>
            <td align="center" bgcolor="#6E6E6E" width="5%">
              {{toStringTie}}
            </td>
            <td align="center" bgcolor="#6E6E6E" width="5%">
              {{toStringLoose}}
            </td>
            <td align="center" bgcolor="#6E6E6E" width ="40%">
          		{{toStringScore}}
            </td>
          </form>
        </tr>
      {{/ranks}}
    </table>

    <form action="/" method="GET" >
      <input align="center" type="submit" style="Position:Absolute; left: 13%; top: 3%" value="< Back">
    </form>
  </body>
</html>