<html>
  
  {{> jqueryconfig}}
  
  <body style="background-attachment:fixed;" background="background.jpg" text="#FFFFFF">

    <h2 align="center">Ranking  </h2>
   <table bgcolor="#1C1C1C" align="center" width="50%" border="1" cellspacing="10" cellpadding="10">
      <tr>
        <td align="center" width="5%">Code</td>
        <td align="center" width="50%">Game</td>
        <td align="center" width="5%"></td>
      </tr>
      {{#games}}
          <tr>
            <td bgcolor="#6E6E6E" align="center">
              {{toStringChannel}}
            </td>
            <td bgcolor="#6E6E6E" align="center">
              {{toStringPlayers}}
            </td>
            <td  bgcolor="#6E6E6E" align="center">

              <form action="/startingGame" method="POST">
               <input type=hidden value={{toStringChannel}} name="channel">              
                <input type=hidden value={{toString2}} name="game">
                <input type="submit" id="play" value="Play" >
              </form>
            </td>

          </tr>
      {{/games}}
    </table>
   
  </body>
</html>