<html>
	{{> jqueryconfig}}
	<body background="background.jpg" text="#FFFFFF">

  	
			<p>		
				<input type="submit" id="btn1" value="Create a table" name="createTable">
			</p>
		
	
		 	<form action="/searchTable" method="GET">
			<p>		
				<input type="submit" id="btn2" value="Search a table" name="createTable">
			</p>
			</form>

	 <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		    <script>
		      var channel=0;
		      var ip_address = "{{ip}}:3000";
		      var socket = io.connect(ip_address);

		      $('#btn1').on("click",function(){
		        alert(ip_address);
		        socket.emit('publisher', $('#m').val());
		        $('#m').val('');
		        return false;
		      });

		      socket.on('publisher', function(msg){
		        $('#messages').append($('<li>').text(msg));
		        if (msg!=0){
		        	channel=msg;
					$.ajax({
						url:"/createTable",
						data: { channel: msg},
						method:"POST"
					}).done(function(data){
							console.log(data);
							$('html').html(data);
												
					});
		        }else{
		        	//No puede realizar nada
		        }
		      });

		      socket.on('suscriber',function(msg){
		      	if (msg==channel){
		      		//Redireccio a play
		      		//channel -> "OnPlay"
		      	}
		      });
		    </script>  
	</body>
</html>