
<html>
<HEAD>
  
</HEAD> 
<BODY bgcolor="#000000" text="#FFFFFF">

   <h2>Resume : {{player1_id}}</h2>



  <table width="45%" border="1" cellspacing="10" cellpadding="10">
 
        <tr>
          <td width="5%">Number</td>
          <td width="40%">Player2</td>
        </tr>
    {{#games}}        
        <tr>
          <form action="/play" method="POST">
            <td width="5%">
                {{toString2}}
            </td>
            <td width="40%">
                {{toStringPlayer2}}
            </td>  
          </form>
        </tr>
    {{/games}}
  </table>

  
  </BODY>
</html>