<html>
<HEAD>
	
</HEAD> 
<BODY bgcolor="#000000" text="#FFFFFF">

	 <h2>Users : {{user1}}</h2>
	
  <table width="50%" border="1" cellspacing="0" cellpadding="3">
    {{#users}}
        <tr>
          <td>
          	<form action="/play" method="POST">
          		<input type=hidden value={{player1_id}} name="player1_id" >
          		<input type=hidden value={{toString2}} name="player2">
          		{{toString2}} 
          		<a align="rigth">
          			<input type="submit" value="Play" >
          		</a>
          </form>
          </td>
        </tr>
    {{/users}}
  </table>

	
  </BODY>

</html>