<html>
<HEAD>
	
</HEAD> 
<BODY>

	 <h2>Users : {{user1}}</h2>
	   <table width="100%" border="0" cellspacing="0" cellpadding="3">
    {{#users}}
        <tr>
          <td>1</td>
        </tr>
    {{/users}}
  </table>
	
  </BODY>

</html>