<html>
	<body  style="background-attachment:fixed;" background="background.jpg" text="#FFFFFF">

	<form action="/signingin" method="POST" >
	  <h1 align="center">Connect 4 - Smart-team</h1>
	  <h3 align="center">Sign In</h3>
	  <fieldset align="center">
	    <label for ="email"> E-mail *:<br> <input  type="text" name="email" /> </label>
	    <br><label for="password"> Password *:<br> <input type="password"  name="password"  /> </label>
	  </fieldset>
	 <p  align="center">
	  		<input type="submit"  value="Confirm"></input>
	</p>
	</form>


	<form action="/" method="GET" >
	<p align="center">
     	<input align="center" type="submit" value="Back" >
     </p>
    </form>
	</body>
</html>