<html>
	<body 
		bgcolor="#000000" 
		bacnd="http://pows109.pbworks.com/w/file/fetch/36805211/background.jpg" text="#FFFFFF" >

	<form action="/signingup" method="POST" >
	  <h1 align="center">Connect 4 - Smart-team</h1>
	  <h3 align="center">Sign Up</h3>
	  <fieldset align="center">
	    <label for ="email"> E-mail *:<br> <input  type="text" name="email" /> </label>
	    <br><label for="first_name"> First name:<br>  <input type="text" name="first_name"/> </label>
	    <br><label for="last_name"> Last name:<br> <input type="text" name="last_name"  /> </label>
	    <br><label for="password"> Password *:<br> <input type="password"  name="password"  /> </label>
	    <br><label for="passwordcheck"> Password check *:<br> <input type="password" name="passwordcheck" /> </label>
	  </fieldset>

	 <p  align="center">
	  		<input type="submit"  value="Confirm"></input>
	</p>
	</form>

	<form action="/" method="GET" >
      <input align="center" type="submit" style="Position:Absolute; left: 48%; top: 61%" value="Back" name="back">
    </form>

	
	</body>
</html>