<html>
	{{> jqueryconfig}}
	<h1 align="center">Cargando...</h1>
	<script type="text/javascript">
	 var ip_address="{{ip}}:3000";
	 var socket = io.connect(ip_address);	
	 socket.emit('suscriber',{{channel}});
	 </script>

	<body background="background.jpg" text="#FFFFFF">

		
		</form>
	</body>
</html> 